# Core Django & REST Framework
Django>=4.2
djangorestframework
dj-database-url

# Database
psycopg2-binary

# Authentication (Clerk)
PyJWT
cryptography

# Utilities
requests
python-dotenv
django-cors-headers
boto3
django-storages
pillow

# Production server
gunicorn
